mixin articleSort(posts)
  .article-sort
    - var year
    - posts.each(function (article) {
      - let tempYear = date(article.date, 'YYYY')
      - let no_cover = article.cover === false || !theme.cover.archives_enable ? 'no-article-cover' : ''
      - let title = article.title || _p('no_title')
      if tempYear !== year
        - year = tempYear
        .article-sort-item.year= year
      .article-sort-item(class=no_cover)
        if article.cover && theme.cover.archives_enable
          a.article-sort-item-img(href=url_for(article.path) title=title)
            img(src=url_for(article.cover) alt=title onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'`)
        .article-sort-item-info
          .article-sort-item-time
            i.far.fa-calendar-alt
            time.post-meta-date-created(datetime=date_xml(article.date) title=_p('post.created') + ' ' + full_date(article.date))= date(article.date, config.date_format)
          a.article-sort-item-title(href=url_for(article.path) title=title)= title
    - })

mixin newsletterSort(posts)
  .article-sort
    - var year
    - posts.each(function (post) {
      - let type = post.type
      - let tempYear = date(post.date, 'YYYY')
      - let no_cover = post.cover === false || !theme.cover.archives_enable ? 'no-article-cover' : ''
      - let title = post.title || _p('no_title')
      if type != "newsletter"
        - return
      if tempYear !== year
        - year = tempYear
        .article-sort-item.year= year
      .article-sort-item(class=no_cover)
        if post.cover && theme.cover.archives_enable
          a.article-sort-item-img(href=url_for(post.path) title=title)
            img(src=url_for(post.cover) alt=title onerror=`this.onerror=null;this.src='${url_for(theme.error_img.post_page)}'`)
        .article-sort-item-info
          .article-sort-item-time
            i.far.fa-calendar-alt
            time.post-meta-date-created(datetime=date_xml(post.date) title=_p('post.created') + ' ' + full_date(post.date))= date(post.date, config.date_format)
          a.article-sort-item-title(href=url_for(post.path) title=title)= title
    - })