include ../mixins/article-sort.pug
#archive
 h2="從2022年11月開始，我決定為自己制定個小目標，每個禮拜都要更新一次週報。每周日更新，聊聊我最近關注的事情、有趣的訊息、還有值得分享的東西，但又與系列文章不同，系列文章適合從0到有的讀者，但是週報不太會闡述一些基本知識，算是我的個人筆記，而非面向所有人的筆記。"
  - const newsletterLength = findNewsletterLength(site.posts)
  .article-sort-title= _p('page.articles') + ' - ' + newsletterLength
  +newsletterSort(site.posts)