<div id="hello-mashiro"
  style="min-height: 300px; padding: 2px 6px 4px; background-color: rgba(242, 242, 242, 0.5); border-radius: 10px;">
  <center>
    <ruby>
      <rb>我的頁面</rb>
      <rt>歡迎來到</rt>
    </ruby>
    <p></p>
  </center>
  <bot-ui> </bot-ui>
</div>